.editar{
    background-color: green;
    border: 0;
    color: white;
    font-size: 1.2rem;
    padding: 3px 5px;
}
.eliminar{
    background-color: red;
    border: 0;
    color: white;
    font-size: 1.2rem;
    padding: 6px;
}